@model QuanLyCTCN.Models.ThuNhap

@{
    ViewData["Title"] = "Chi tiết thu nhập";
    Layout = "_AdminLayout";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Chi tiết thu nhập</h6>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NgayNhap)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NgayNhap)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DanhMuc)
                        </dt>
                        <dd class="col-sm-10">
                            @(Model.DanhMuc?.TenDanhMuc ?? "N/A")
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SoTien)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SoTien)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GhiChu)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GhiChu)
                        </dd>
                    </dl>
                    
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.ThuNhapId" class="btn btn-primary">Chỉnh sửa</a> |
                        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
