@model QuanLyCTCN.Models.NganSach

@{
    ViewData["Title"] = "Xóa ngân sách";
    Layout = "_AdminLayout";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Xóa ngân sách</h6>
                </div>
                <div class="card-body">
                    <h3>Bạn có chắc chắn muốn xóa ngân sách này?</h3>
                    <div>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                Danh mục
                            </dt>
                            <dd class="col-sm-10">
                                @(Model.DanhMuc?.TenDanhMuc ?? "N/A")
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.HanMuc)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.HanMuc) VND
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Thang)
                            </dt>
                            <dd class="col-sm-10">
                                Tháng @Html.DisplayFor(model => model.Thang)/@Html.DisplayFor(model => model.Nam)
                            </dd>
                        </dl>

                        <form asp-action="Delete" method="post">
                            <input type="hidden" asp-for="NganSachId" />
                            <input type="submit" value="Xóa" class="btn btn-danger" /> |
                            <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
